/* SMARTPHONES, IPHONES, PORTRAIT 480x320 PHONES 320px 20em */
@media (min-width: 20em) {
  html {
    font-size: 66.66%;
  }

  aside {
    display: none;
  }

  nav {
    display: block;
  }

  nav .container {
    padding: 1rem 1.5rem;
  }

  nav .photo {
    margin: auto;
  }

  #main {
    width: 100%;
    margin-left: 0;
  }

  header {
    height: auto;
  }

  header .photo {
    width: 80%;
    display: block;
    margin: auto;
  }

  .title h1{
    font-size: 3rem;
    text-decoration-thickness: 0.4rem;
  }
  
  .title h1 span {
    font-size: 3rem;
  }
 
  .cv {
    margin-top: 0;
  }

  .hdr {
    width: 40%;
  }

  section .container {
    height: auto;
  }
}

/* PORTRAIT E-READERS (NOOK/KONDLE), SMALLER TABLETS @ 600 OR 640 WIDE 481px 30em*/
@media (min-width: 60em) {
  html {
    font-size: 70%;
  }
}

/* PORTRAIT TABLETS, PORTRAIT IPAD, LANDSCAPE E-READERS, LANDSCAPE 800x480 OR 854x480 PHONES 641px 40em*/
@media (min-width: 40em) {
  html {
    font-size: 75%;
  }
}

/* TABLETS, LANDSCAPE IPAD, LO-RES LAPTOPS AND DESKTOPS 961px 60em */
@media (min-width: 60em) {
  html {
    font-size: 80%;
  }

  aside {
    display: block;
  }

  nav {
    display: none;
  }

  #main {
    width: 75%;
    margin-left: 25%;
  }

  header {
    height: 65rem;
  }

  header .photo {
    display: none;
  }

  .title h1{
    font-size: 4.5rem;
    text-decoration-thickness: 0.5rem;
  }
  
  .title h1 span {
    font-size: 4.5rem;
  }
 
  .cv {
    margin-top: 3rem;
  }

  .hdr {
    width: 30%;
  }

  section .container {
    height: 65em;
  }
}

/* BIG LANDSCAPE TABLETS, LAPTOPS, AND DESKTOPS 1025px 64em */
@media (min-width: 64em) {
  html {
    font-size: 83.33%;
  }
}

/* HI-RES LAPTOPS AND DESKTOPS 1281px 80em */
@media (min-width: 80em) {
  html {
    font-size: 100%;
  }
}