/* GLOBAL PARAMETER */
:root {
  --first: #171f32;
  --second: #ff611d;
  --third: #cccfd3;
  --fourth: #00eaff;
  --fifth: #ffa200;
  --sixth: #ff0400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-size: 1rem;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
}

table {
  width: 100%;
}

tr, td {
  padding: 0.5%;
  vertical-align: middle;
}

.container {
  width: 100%;
  padding: 6rem 5rem;
}

.heading h3{
  font-size: 1.8rem;
  line-height: 3.5rem;
  margin-bottom: 15px;
  width: 100%;
  color: var(--third);
}

a {
  color: white;
}

.btn {
  width: 35%;
  display: inline-block;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: var(--third);
  color: black;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--second);
  color: white;
}

.table-logo {
  text-align: center;
}

/* ASIDE */
aside {
  width: 25%;
  height: 100%;
  background-color: #0b0f1a;
  position: fixed;
  border-right: solid 5px var(--second);
  z-index: 10;
}

aside .container{
  display: flex;
  padding: 3rem 3.5rem;
  flex-direction: column;
  align-items: left;
  
}

.aside-up {
  text-align: left;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

@keyframes photo-frames {
  0%, 100% {
    border-top-left-radius: 12%;
    border-top-right-radius: 64%;
    border-bottom-left-radius: 51%;
    border-bottom-right-radius: 41%;
  }
  20% {
    border-top-left-radius: 35%;
    border-top-right-radius: 88%;
    border-bottom-left-radius: 72%;
    border-bottom-right-radius: 23%;
  }
  40% {
    border-top-left-radius: 63%;
    border-top-right-radius: 98%;
    border-bottom-left-radius: 56%;
    border-bottom-right-radius: 43%;
  }
  60% {
    border-top-left-radius: 42%;
    border-top-right-radius: 65%;
    border-bottom-left-radius: 24%;
    border-bottom-right-radius: 74%;
  }
  80% {
    border-top-left-radius: 21%;
    border-top-right-radius: 47%;
    border-bottom-left-radius: 48%;
    border-bottom-right-radius: 61%;
  }
}

.photo {
  width: 100%;
  padding: 1rem;
}

.photo img {
  width: 100%;
  border-radius: 100%;
  border: solid 5px var(--second);
  animation: photo-frames 6s linear infinite;
}

.aside-down {
  display: flex;
  flex-direction: column;
}

.aside-down a {
  flex: auto;
  padding: 8px;
}

#prjct {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--second);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--second);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* NAV */
nav {
  width: 100%;
  background-color: #0b0f1a;
  position: fixed;
  border-bottom: solid 3px var(--second);
  z-index: 10;
}

nav .container{
  display: flex;
  padding: 3rem 3.5rem;
  flex-direction: column;
  align-items: left;
  
}

.nav-up {
  text-align: left;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  display: none;
}

.nav-down {
  display: flex;
  flex-direction: row;
}

.nav-down a {
  flex: auto;
  padding: 8px;
}

#prjct {
  display: none;
}

/* MAIN */
@keyframes text-flip {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

#main {
  width: 75%;
  margin-left: 25%;
}

#flip-wrapper {
  display: block;
}

#flip {
  height: 50px;
  overflow: hidden;
}

#flip p {
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: text-flip 5s linear infinite;
}

/* HEADER */
header {
  background-color: silver;
  height: 65rem;
}

/* Title starter animation */
/* 
li:nth-child(2) a {
}

li:nth-child(2) a::after {
  opacity 1;
  transform: translate3d(-100%, 0, 0);
}

li:nth-child(2) a:hover::after,
li:nth-child(2) a:focus::after{
  transform: translate3d(0, 0, 0);
} 
*/

.title h1{
  font-size: 4.5rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: var(--first);
  text-decoration-thickness: 0.5rem;
}

.title h1 span {
  font-size: 4.5rem;
  font-weight: bold;
  color: var(--first);
}

.cv {
  margin-top: 3rem;
}

.hdr {
  width: 30%;
  padding: 10px;
}

/* SECTIONS */
section .container {
  padding: 6rem 5rem 6rem 10%;
  height: 65em;
}

.section-wrapper {
  background-color: var(--first);
  overflow-y: hidden;
}

/* BIODATA */

/* PROFILE */
#profile p {
  line-height: 1.5rem;
}

/* EDUCATION */
#education img {
  width: 7rem;
  padding: 7.5%;
}

#education tr:nth-child(3n + 3) td {
  border-bottom: solid 1px gray;
  padding-bottom: 18px;
}

/* SKILL */
#skill img {
  width: 2.5rem;
}

.skill-wrap {
  display: flex;
}

.skill-left, .skill-right {
  flex: auto;
}

/* CERTIFICATE */
#certificate tr:nth-child(3n + 3) td {
  border-bottom: solid 1px gray;
  padding-bottom: 18px;
}

/* PROJECTS */
#projects {
  display: none;
}

/* CONTACT */
#contact .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#contact img {
  width: 1.5rem;
  vertical-align: middle;
}

.contact-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.contact-list span {
  width: 100%;
  font-size: 1rem;
  line-height: 2rem;
}

#caps-text, #empty-text {
  display: none;
}

/* FOOTER */
footer {
  background-color: var(--second);
  width: 100%;
}

footer .container {
  display: flex;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left {
  width: 20%;
  padding: 0 1.5rem;
}

.footer-right {
  width: 20%;
  padding: 0 1.5rem;
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: right;
}

.copyright {
  width: 100%;
  padding: 1%;
  font-size: 0.8rem;
  text-align: center;
}